@font-face {
	font-family: 'Android Robot';
	src: local('Android Robot'), url('../fonts/ANDROID-ROBOT.woff') format('woff');
}

.headline,
h1 {
	font-family: 'Android Robot';
	font-size: 8em !important;
	color: white;
	margin: 1rem 0;
}
